<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>人人权限系统</title>

    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">

</head>
<body>
    <div class="wrapper" id="rrapp" v-cloak>

        <header class="main-header">
            <a href="javascript:void (0);" class="logo">
                <span class="logo-mini"><b>TEST</b></span>
                <span class="logo-lg"><b>TEST系统</b></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div style="float: left;color:#fff;padding:15px 10px;">欢迎</div>
                <div class="navbar-custom-menu">
                    <ul>
                        <li><a href="logout"><i class="fa fa-sign-out"></i>退出系统</a> </li>
                    </ul>
                </div>
            </nav>

        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="slider-menu">
                    <li class="header">导航菜单</li>
                    <menu-item :item="item" v-for="item in menuList"></menu-item>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <o1 class="breadcrumb" id="nav_title" style="position: static;float:none ">
                    <li class="active"></li><i class="fa fa-home" style="font-size: 20px;position: relative;top: 2px;left:-3px">&nbsp; 首页</i>
                    <li class="active">{{navTitle}}</li>
                </o1>
            </section>
            <section class="content" style="background: #fff;">
                <iframe scrolling="yes" frameborder="0" style="width:100%;min-height:200px;overflow:visible;background:#fff;" :src="main"
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">Vserion 1.0.0</div>
            Copyright &copy; 2018 <a href="http://www.renren.io" target="_blank">renren.io</a> All Rights Reserved
        </footer>

        <div class="control-sidebar-bg"></div>
    </div>


    <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
    <script src="${request.contextPath}/statics/libs/vue.min.js"></script>
    <script src="${request.contextPath}/statics/libs/router.js"></script>
    <script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
    <script src="${request.contextPath}/statics/libs/app.js"></script>
    <script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
    <script src="${request.contextPath}/statics/js/index.js"></script>
</body>
</html>