<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员列表</title>
    <#include "/header.html">
</head>
<body>
    <div id="rrapp" >
        <div >
            <div class="grid-btn">
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control"  placeholder="用户名">
                </div>
                <a class="btn btn-default" > 查询</a>
                <a class="btn btn-primary" ><i class="fa fa-plus"></i>&nbsp;新增</a>
                <a class="btn btn-primary" ><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                <a class="btn btn-primary" ><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </div>
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
    <script src="${request.contextPath}/statics/js/modules/user.js?_${.now?long}"></script>
</body>
</html>